* {
    /* background-color: black;   */
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.play {
    max-height: 600px;
     background-color: white;
    opacity: 90%; 
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;

    background: linear-gradient(to top, rgba(30, 35, 38, 0.5), rgba(30, 35, 38, 0.3)), url(https://i.ibb.co/ymPMZNQ6/play-bg.jpg); 
    background-size: cover;
    background-position: center;
    color: white;
 
    height: 75vh; 
} 


.first-row > .item-cell,.second-row > .item-cell{
    padding: 10px;
    border-bottom: 4px solid rgb(31, 29, 29);
  cursor: pointer;
    width: 120px;
    height: 120px;
}

.third-row > .item-cell{
    width: 120px;
    height: 120px;
    cursor: pointer;
}


.first-col, .second-col{
    border-right: 4px solid  rgb(31, 29, 29);
}



.play-section > .row{
    cursor: not-allowed;
}

.result {
    color: rgb(223, 153, 25);
    text-align: center;
    font-size: 1.3rem;
    background-color: transparent;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;

}

.score-title {
    font-family: "Press Start 2P", serif;
    color: rgb(194, 18, 47);
    text-align: center;
    font-size: 1rem;
    background-color: transparent !important;

}
.score {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: transparent;
} 

#cancel{
    display: none;
}

button.btn.btn-primary.btn-user{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
}

.exit{
    color:#fff;
    font-size:1.2rem;
    font-weight: 600;
    padding-right: 10px;
}