* {
    /* background-color: black;   */
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.play {
    max-height: 600px;
     background-color: white;
    opacity: 90%; 
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;

    background: linear-gradient(to top, rgba(30, 35, 38, 0.5), rgba(30, 35, 38, 0.3)), url(https://i.ibb.co/ymPMZNQ6/play-bg.jpg); 
    background-size: cover;
    background-position: center;
    color: white;
 
    height: 75vh; 
} 


.first-row > .item-cell,.second-row > .item-cell{
    padding: 10px;
    border-bottom: 4px solid rgb(31, 29, 29);
  cursor: pointer;
    width: 120px;
    height: 120px;
}

.third-row > .item-cell{
    width: 120px;
    height: 120px;
    cursor: pointer;
}


.first-col, .second-col{
    border-right: 4px solid  rgb(31, 29, 29);
}